<!doctype html>
<html lang="en"  xmlns="http://www.thymeleaf.org" th:replace="base1::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>

	<section class="davat d-flex justify-content-center align-items-center">
		<div class="text-center">
			
		<div class="home-font">	
			<h1 class="font-weight-bold"> Welcome to  Food Order Application  </h1>
		</div>	
		<br>
		<h5 class="span">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione magnam adipisci deleniti vitae veniam quos dolores quam qui aspernatur enim sit in dicta rem laboriosam neque amet harum mollitia assumenda ut error sequi molestias dolore cum minus fugit excepturi architecto.</p>
		</h5>
		<br>
		<div class="button-container">
			<button class="btn btn-thingy">Get Started</button>
		</div>
		
		
		</div>
		
		
		
	</section>
	
</body>
</html>