<!doctype html>
<html lang="en"  
xmlns:th="www.thymeleaf.org"
th:replace="base1::layout(~{::section})"
>
<head>
	<meta charset="UTF-8" />
	<title th:text="${title}"></title>
</head>

<body>
	<section class="hotpot">
		
		<div class="row justify-content-center">
		
			<h3 class="text-center mt-4"> 
								Payment Gateway
								</h3>
			<div class="col-md-6">
				<div class="col-md-12">
				
					<div class="card mt-3">
						<div class="card-body">
							
							<hr/>
							<input
							id="payment_field"
							class="form-control"
							type="text"
							placeholder="Enter the Amount"
							/>
							
							<div class="text-center">
								<button onClick="paymentStart()" 
								class="btn btn-warning btn-lg">
									PAY
								</button>
							</div>
						</div>
					</div>
				
				</div>
			</div>
		</div>
	</section>	
</body>

</html>